Package: com.gilshahar7.volumepercent
Name: VolumePercent
Version: 1.0.2
Architecture: iphoneos-arm
Description: Displays the volume percentage on the stock volume HUD.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
